html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: #fafbfd;
    background-size: 40px;
    font-family: sans-serif;
}

.app {
    text-align: center;
}

.app h1 {
    color: #282828;
}

#output-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.output {
    margin: 10px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center;
}

.download-link {
    display: none;
}

.preview {
    display: block;
    width: 240px;
    height: 240px;
    object-fit: contain;
    margin: 0 auto;
    cursor: pointer;
}
