html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: url('bg.svg') repeat #fbfbfc;
    background-size: 40px;
    font-family: sans-serif;
}

.app {
    flex-basis: 420px;
    text-align: center;
}

.app h1 {
    color: #282828;
}

.output {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #acacac;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center;
}

.file-browser, .download-link {
    display: none;
}

.preview {
    display: block;
    width: 100%;
    height: 320px;
    object-fit: contain;
    margin: 10px 0;
    cursor: pointer;
}
